@import "src/assets/styles/breakpoint";

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #FFF5D7;
  color: #000;
  border-bottom: 1px solid #000;

  .title {
    background: black;
    color: #FFF5D7;
    padding: 12px;
    border-radius: 12px;
    font-size: 32px;

    @include for-size(phone) {
      font-size: 18px;
      font-weight: bold;
    }

    @include for-size(tablet) {
      font-size: 24px;
    }
  }

  .list {
    cursor: pointer;
    text-decoration: underline;
  }

  .list:hover {
    text-decoration: underline;
    text-decoration-color: #FF5E6C;
    color: #FF5E6C;

  }
}


