@import "src/assets/styles/breakpoint";

.card-poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  margin: 20px;
  box-sizing: border-box;

  .poster {
    object-fit: contain;
    width: 250px;
    height: 300px;

    @include for-size(tablet) {
      width: 200px;
      height: 260px;
    }
  }

  .btn-watch {
    border: none;
    background: #FF5E6C;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    justify-content: center;
    margin: 10px;
    display: flex;
    align-items: center;
  }

  .btn-watch:hover {
    color: #FFF5D7;
  }
}

