@import "src/assets/styles/breakpoint";


.filter {
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;

  .filter__title {
    margin-bottom: 10px;
  }

  .genres {
    display: flex;
    justify-content: center;

    @include for-size(phone) {
      display: flex;
      flex-wrap: wrap;
    }

    @include for-size(tablet){
      flex-wrap: wrap;
    }

    .genre {
      border: 2px solid #FF5E6C;
      padding: 4px;
      cursor: pointer;
      background: #FFF5D7;
      margin: 10px;

      @include for-size(phone) {
        margin: 5px;
      }

      @include for-size(tablet) {
        margin: 8px;
      }
    }

    .genre:active {
      background: #FF5E6C;
    }
  }
}
