
.filter {
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;

  .filter__title {
    margin-bottom: 10px;
  }

  .genres {
    display: flex;
    justify-content: center;

    .genre {
      border: 2px solid #FF5E6C;
      padding: 4px;
      cursor: pointer;
      background: #FFF5D7;
      outline: none;
      margin-right: 10px;
    }

    .genre:active {
      background: #FF5E6C;
    }
    .reset {
      background: #000000;
      border: none;
      color: #FFF5D7;
      cursor: pointer;
    }
    .reset:hover {
      color: #FF5E6C;
    }
  }
}
