@import "src/assets/styles/breakpoint";


.container {
  .back-btn {
    display: flex;
    align-items: center;
    border: none;
    background: #FFF5D7;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;


    .img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }


  .details {
    display: flex;
    padding: 30px;

    @include for-size(phone) {
      flex-direction: column;
      align-items: center;
    }

    .details__img {

      .movie__img {
        width: 200px;
        height: 280px;
      }
    }

    .details__annotation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 18px;
      margin-left: 20px;

      @include for-size(phone) {
        margin: 20px;
      }

      .name {
        font-size: 28px;
        font-weight: bold;
        color: #FF5E6C;

        @include for-size(phone) {
          margin-bottom: 24px;
        }
      }
      .genre {
        @include for-size(phone) {
          padding: 16px 0;
        }
      }
      .rate {
        @include for-size(phone) {
          padding: 12px 0;
        }
      }
    }
  }
}
