<article class="container">
  <button class="back-btn" routerLink=""><img class="img" src="assets/back.svg">Back</button>
  <div class="details">
    <div class="details__img">
      <img [src]="mov?.img" class="movie__img">
    </div>
    <div class="details__annotation">
      <span class="name">{{mov?.name}}</span>
      <span class="description">Annotation: {{mov?.description}}</span>
      <span class="genre">Genres: {{mov?.genres}}</span>
      <span class="lengt">Length: {{mov?.length}}</span>
      <span class="rate">Rating: {{mov?.rate}}</span>
    </div>
  </div>
</article>

